.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter';
  font-weight: 400;
  -webkit-font-smoothing: antialiased; /*сглаживание шрифтов*/
  -moz-osx-font-smootthing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-size: 1.5rem;
  line-height: 1.2;
}

.header__lang-link:first-child {
  border-bottom: 1px solid #fff;
  margin-right: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 1.1rem;
    line-height: 1.11;
  }
}