.cover__description {
  position: absolute;
  width: 560px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 520px) {
  .cover__description {
    width: 288px;
  }
}