.cover__subtitle {
  max-width: 360px;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  margin: 0;
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .cover__subtitle {
    max-width: 320px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: .9rem;
    line-height: 1.14;
  }
}