.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.12;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1;
  } 

  .footer__link:nth-of-type(1n+2) {
    padding-top: 32px;
  }
} 