.footer__copyright {
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.14;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .footer__copyright {
    line-height: 1;
    padding-top: 48px;
  }
}